/* Reset */
body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  color: white;
  text-align: center;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("heart.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Hide scrollbar but allow scroll */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Top Titles */
.top-title {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Valentine Center Section */
.center-box {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Buttons */
button {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  background: hotpink;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

/* Hide Next Initially */
.hidden {
  display: none;
}

/* Glass Box (Questions Page) */
.glass-box {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  width: 350px;
  border-radius: 25px;
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
}

/* Textarea */
textarea {
  width: 90%;
  height: 60px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
}

/* IMAGE GALLERY */
.gallery,
.video-gallery {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 0 20px;
  margin-bottom: 40px;
}
.gallery img,
.video-gallery video {
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.gallery img:hover,
.video-gallery video:hover {
  transform: scale(1.05);
}

.slider-container {
  position: relative;
  max-width: 320px;
  margin: 40px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
}

.slider img,
.slider video {
  min-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
}

/* Navigation Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,105,180,0.7);
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }
